name: audit-build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# Required for GitHub OIDC
permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Build and Test
        uses: ./.github/templates/dotnet-build